<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- Internal Bonobo engine feed: Bonobo.Bepuphysics2, Bonobo.ECS (+ SourceGenerators). -->
    <add key="BonoboEngineFeed" value="\\172.20.176.1\devserver\Nuget" />
  </packageSources>
</configuration>
